@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Fun Student Calendar</h1>
    <p>Complete your tasks to be superior to everyone else.</p>
    <p>🗿🗿🗿</p>
</div>
